@charset "utf-8";


/* Global Styles */


html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Vollkorn', serif;
}

section {
	overflow: hidden;
}

ul {
	font-weight: normal;
	word-spacing: 80%;
	font-size: 12px;
	line-height: 16px;
	color: #20222c;
	text-align: center;
}

a:link {
    color: #20222c;
    text-decoration: none;
}


a:visited {
    color: #20222c;
    text-decoration: none;
}


a:hover {
    color: #6a7293;
    text-decoration: none;
}


a:active {
    color: #6a7293;
    text-decoration: none;
}

img {
	max-width: 100%;
}

#wrapper {
	min-height: 100%;
	height: 100%;
}




/* Desktop Styles */



/* Typography */

h1 {
	font-family: 'Roboto Slab', helvetica, sans serif; /*Roboto Slab weights: 800, 400, 300, 100*/
        font-variant: small-caps;
        font-weight: 400;
	word-spacing: 80%;
	font-size: 80px;
	color: #20222c;
	text-align: center;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}


h2 {
	font-family: 'Roboto Slab', helvetica, sans serif;
	font-variant: small-caps;
	font-weight: 400;
	word-spacing: 80%;
	font-size: 40px;
        line-height: 1;
	color: #20222c;
	text-align: center;
	margin: 0;
}


h3 {
	font-family: 'Roboto Slab', helvetica, sans serif;
	font-variant: small-caps;
	font-weight: 400;
	word-spacing: 80%;
	font-size: 26px;
	line-height: 1.3;
	color: #20222c;
	text-align: center;
	margin: 0;
}

p {
	font-weight: 400;
	word-spacing: 80%;
	font-size: 20px;
	line-height: 30px;
	color: #20222c;
	text-align: center;
	margin: 0;
}


.caption {
	word-spacing: 80%;
	font-size: 18px;
	line-height: 24px;
	color: #20222c;
        text-align: center;
}

#intro {
    	font-variant: normal;
  	font-size: 54px;
        line-height: 1.2;
}



/* Menu */

.menu {
	position: fixed;
	background: #FFFFFF;
	opacity: .95;
	padding: 0;
	width: 100%;
	height: 100px;
}

.menu ul {
	display: block;
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

.menu ul li {
	display: block;
	float: left;
	padding: 0px 20px 0px 00px;
	margin: 0;
	width: 220px;
	height: 100px;
}

.menu ul li ul {
	width: 160px;
}

.menu ul li ul li {
	display: block;
	height: 15px;
}

.menu h3 {
        font-size: 24px;
        font-weight: 100;
	margin: 0;
	padding: 20px 0px 0px 0px;
	line-height: .9;
}

.menu h3.active {
        font-size: 26px;
        font-weight: 700;
}



/* Content Container */

#content {
	margin: 0 auto 0 auto;
	padding: 0 60px 0 60px;
	width: 960px;
	height: 100%;
}

#content h1 {
	margin: 0;
}

#content h3 {
	margin: 0;
}

#content h4 {
	margin: 0;
}

#content p {
	margin-top: 0;
}



/* Cover */

#cover {
	overflow: hidden;
	padding: 0;
	height: 500px;
	background: url(images/intro-cover-desktop.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#cover h1 {
	font-weight: bold;
	word-spacing: 80%;
	font-size: 130px;
	color: #FFFFFF;
	text-align: center;
}

#cover div {
	width: 100%;
	margin: 0px auto;
	padding: 220px 0 0 0;
}



/* Footer */

footer {
	width: 300px;
	padding: 200px 0 40px 0;
	margin: 0 auto;
}


footer p {
	border-width: 1px;
	border-bottom-style: solid;
	border-color: #20222c;
	padding: 10px 0 10px 0;
	float: inherit;
}

footer img {
        float: none;
        text-align: center;
	padding: 20px 20px 10px 0;
}



/* Borders and Spacers */

.primary {
	padding: 0 0 90px 0;

}

.secondary {
	padding: 0 0 40px 0;

}

.border-top {
	padding: 0 0 40px 0;
	border-width: 1px;
	border-top-style: solid;
	border-color: #20222c;
}

.border-bottom {
	padding: 0 0 40px 0;
	border-width: 1px;
	border-bottom-style: solid;
	border-color: #20222c;
}



/* 160px, floated left, one columnn */

.a1 {
	float: left;
        width: 160px;
	padding: 10px 0 10px 0;
        text-align: center;
}

.a1 h3 {
	padding: 10px 0 0 0;
}

.a1 img {
        max-width: 90%;
}



/* 320px, floated left, one columnn */

.b1 {
        float: left;
        width: 320px;
	padding: 10px 0 10px 0;
        text-align: center;
}

.b1 img {
        max-width: 90%;
}

.b1 p {
        float: left;
	padding: 0 20px 0 0;
}



/* 320px, centered, one columnn */

.b2 {
        width: 320px;
	margin: 0 auto;

}

.b2 img {
        max-width: 90%;
}

.b2 p {
	padding: 0 0 20px 0;
}



/* 480px, floated left, one columnn */

.c1 {
	float: left;
        width: 480px;
	padding: 10px 0px 10px 0;
        text-align: center;
}

.c1 h2 {
	margin: 0;
}

.c1 img {
        max-width: 90%;
}

.c1 p.caption {
	padding: 0 0 20px 0;
        text-align: center;
}



/* 480px, centered, one columnn */

.c2 {
        width: 480px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
}

.c2 img {
        float: left;
        max-width: 90%;
}

.c2 p {
	padding: 0 0 20px 0;
}



/* 640px, centered, one columnn */

.d2 {
	margin: 0 auto;
        overflow: hidden;
        width: 640px;
	padding: 10px 0 10px 0;
}

.d2 img {
        max-width: 90%;
}

.d2 p {
	padding: 0 0 20px 0;
}



/* 960px, centered, one columnn */

.e1 {
        overflow: hidden;
        width: 960px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
}

.e1 img {
        max-width: 90%;
}




/* Tablet Styles */
@media only screen and (max-width: 768px) and (min-width: 331px) {


/* Typography */

h1 {
	font-family: 'Roboto Slab', helvetica, sans serif;
	font-variant: small-caps;
	word-spacing: 80%;
        line-height: 1;
	font-size: 60px;
        font-weight: 400;
	color: #20222c;
	text-align: center;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

/*h2 {
	font-family: 'Roboto Slab', helvetica, sans serif;
	font-variant: small-caps;
	font-weight: 400;
	word-spacing: 80%;
	font-size: 40px;
        line-height: 1;
	color: #20222c;
	text-align: center;
	margin: 0;
}*/

/*h3 {
	font-family: 'Roboto Slab', helvetica, sans serif;
	font-variant: small-caps;
	font-weight: 400;
	word-spacing: 80%;
	font-size: 26px;
	line-height: 1.3;
	color: #20222c;
	text-align: center;
	margin: 0;
}*/

p {
	font-weight: normal;
	word-spacing: 80%;
	font-size: 18px;
	line-height: 30px;
	color: #20222c;
	text-align: center;
	margin: 0;
}

/*.caption {
	word-spacing: 80%;
	font-size: 18px;
	line-height: 24px;
	color: #20222c;
        text-align: center;
}*/

#intro {
    	font-variant: normal;
  	font-size: 36px;
        line-height: 1.2;
}



/* Menu */

/*.menu {
	position: fixed;
	background: #FFFFFF;
	opacity: .95;
	padding: 0;
	width: 100%;
	height: 100px;
}*/

/*.menu ul {
	display: block;
	width: 960px;
	margin: 0 auto;
	padding: 0;
}*/

.menu ul li {
	display: block;
	float: left;
	padding: 0px 20px 0px 00px;
	margin: 0;
	width: 160px;
	height: 100px;
}

/*.menu ul li ul {
	width: 160px;
}*/

/*.menu ul li ul li {
	display: block;
	height: 15px;
}*/

/*.menu h3 {
        font-size: 24px;
        font-weight: 100;
	margin: 0;
	padding: 20px 0px 0px 0px;
	line-height: .9;
}*/

/*.menu h3.active {
        font-size: 26px;
        font-weight: 700;
}*/



/* Content Container */

#content {
        margin: 0 auto 0 auto;
        padding: 0 0px 0 0px;
        width: 768px;
        height: 100%;
}



/* Cover Div */

#cover {
        overflow: hidden;
        padding: 0;
        height: 250px;
        background: url(images/intro-cover-tablet.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#cover h1 {
        font-weight: bold;
        word-spacing: 80%;
        line-height: .9;
        font-size: 80px;
        color: #FFFFFF;
        text-align: center;
}

#cover div {
        width: 100%;
        margin: 0px auto;
        padding: 120px 0 0 0;
}



/* Footer */

footer {
	width: 300px;
	padding: 100px 0 40px 0;
	margin: 0 auto;
}


/*footer p {
	border-width: 1px;
	border-bottom-style: solid;
	border-color: #20222c;
	padding: 10px 0 10px 0;
	float: inherit;
}*/

/*footer img {
        float: none;
        text-align: center;
	padding: 20px 20px 10px 0;
}*/



/* Borders and Spacers */

/*.primary {
	padding: 0 0 90px 0;

}*/

/*.secondary {
	padding: 0 0 40px 0;

}*/

.border-top {
        padding: 0 0 40px 0;
        border-width: 1px;
        border-top-style: solid;
        border-color: #20222c;
        width: 60%;
        margin: 0 auto;
}

.border-bottom {
        padding: 0 0 40px 0;
        border-width: 1px;
        border-bottom-style: solid;
        border-color: #20222c;
        width: 60%;
        margin: 0 auto;
}



/* 160px, floated left, one columnn */

/*.a1 {
	float: left;
        width: 160px;
	padding: 10px 0 10px 0;
        text-align: center;
}

.a1 h3 {
	padding: 10px 0 0 0;
}

.a1 img {
        max-width: 90%;
}*/


/* 480px, one columnn */

.b1 {
        float: none;
        margin: 0 auto;
        width: 480px;
	padding: 10px 0 10px 0;
        text-align: center;
}

.b1 img {
        float: none;
        text-align: center;
        max-width: 90%;
}

.b1 p {
        float: none;
	padding: 0 20px 0 0;
        text-align: center;
}



/* 320px, centered, one columnn */

/*.b2 {
        width: 320px;
	margin: 0 auto;
}

.b2 img {
        max-width: 90%;
}

.b2 p {
	padding: 0 0 20px 0;
}*/



/* 480px, one columnn */

.c1 {
        float: none;
        width: 480px;
        padding: 10px 0 10px 0;
        text-align: center;
}

/*.c1 h2 {
        margin: 0;
}*/

/*.c1 img {
        max-width: 90%;
}*/

/*.c1 p.caption {
        padding: 0 0 20px 0;
        text-align: center;
}*/



/* 480px, centered, one columnn */

/*.c2 {
        width: 480px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
}

.c2 img {
        float: left;
        max-width: 90%;
}

.c2 p {
	padding: 0 0 20px 0;
}*/



/* 640px, centered, one columnn */

/*.d2 {
	margin: 0 auto;
        overflow: hidden;
        width: 640px;
	padding: 10px 0 10px 0;
}

.d2 img {
        max-width: 90%;
}

.d2 p {
	padding: 0 0 20px 0;
}*/



/* 480px, centered, one columnn */

.e1 {
        overflow: hidden;
        width: 480px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
        text-align: center;
}

/*.e1 img {
        max-width: 90%;
}*/

}







/* Mobile  Styles */
@media only screen and (max-width: 330px) {



/* Typography */

/*h1 {
	font-family: 'Roboto Slab', helvetica, sans serif;
	font-variant: small-caps;
	word-spacing: 80%;
        line-height: 1;
	font-size: 60px;
        font-weight: 400;
	color: #20222c;
	text-align: center;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}*/

/*h2 {
	font-family: 'Roboto Slab', helvetica, sans serif;
	font-variant: small-caps;
	font-weight: 400;
	word-spacing: 80%;
	font-size: 40px;
        line-height: 1;
	color: #20222c;
	text-align: center;
	margin: 0;
}*/

/*h3 {
	font-family: 'Roboto Slab', helvetica, sans serif;
	font-variant: small-caps;
	font-weight: 400;
	word-spacing: 80%;
	font-size: 26px;
	line-height: 1.3;
	color: #20222c;
	text-align: center;
	margin: 0;
}*/

p {
	font-weight: normal;
	word-spacing: 80%;
	font-size: 18px;
	line-height: 30px;
	color: #20222c;
	text-align: center;
	margin: 0;
}

/*.caption {
	word-spacing: 80%;
	font-size: 18px;
	line-height: 24px;
	color: #20222c;
        text-align: center;
}*/

#intro {
    	font-variant: normal;
  	font-size: 28px;
        line-height: 1.2;
}




/* Menu */

.menu {
	display: none;
	position: fixed;
	background: #FFFFFF;
	opacity: .95;
	padding: 0;
	width: 100%;
	height: 100px;
}

/*.menu ul {
        display: block;
        width: 960px;
        margin: 0 auto;
        padding: 0;
}*/

/*.menu ul li {
        display: block;
        float: left;
        padding: 0px 20px 0px 00px;
        margin: 0;
        width: 160px;
        height: 100px;
}*/

/*.menu ul li ul {
        width: 160px;
}*/

/*.menu ul li ul li {
        display: block;
        height: 15px;
}*/

/*.menu h3 {
        font-size: 24px;
        font-weight: 100;
        margin: 0;
        padding: 20px 0px 0px 0px;
        line-height: .9;
}*/

/*.menu h3.active {
        font-size: 26px;
        font-weight: 700;
}*/



/* Content Div */

#content {
	margin: 0 auto 0 auto;
	padding: 0 0px 0 0px;
	width: 320px;
	height: 100%;
}



/* Cover Div */

#cover {
	overflow: hidden;
	padding: 0;
	height: 250px;
	background: url(images/intro-cover-mobile.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#cover h1 {
	font-weight: bold;
	word-spacing: 80%;
	line-height: .9;
	font-size: 50px;
	color: #FFFFFF;
	text-align: center;
}

#cover div {
	width: 100%;
	margin: 0px auto;
        padding: 80px 0px 0px 0px;
}



/* Footer */

footer {
	width: 300px;
	padding: 60px 0 40px 0;
	margin: 0 auto;
}


/*footer p {
	border-width: 1px;
	border-bottom-style: solid;
	border-color: #20222c;
	padding: 10px 0 10px 0;
	float: inherit;
}*/

/*footer img {
        float: none;
        text-align: center;
	padding: 20px 20px 10px 0;
}*/



/* Borders and Spacers */

/*.primary {
	padding: 0 0 90px 0;

}*/

/*.secondary {
	padding: 0 0 40px 0;

}*/

.border-top {
	padding: 0 0 40px 0;
	border-width: 1px;
	border-top-style: solid;
	border-color: #20222c;
	width: 60%;
	margin: 0 auto;
}

.border-bottom {
	padding: 0 0 40px 0;
	border-width: 1px;
	border-bottom-style: solid;
	border-color: #20222c;
	width: 60%;
	margin: 0 auto;
}



/* 160px, floated left, one columnn */

.a1 {
	float: left;
        width: 150px;
	padding: 10px 5px 10px 5px;
        text-align: center;
}

/*.a1 h3 {
	padding: 10px 0 0 0;
}

.a1 img {
        max-width: 90%;
}*/



/*320px, centered, one column */

.b1 {
	margin: 0 auto;
        width: 320px;
	padding: 10px 0 10px 0;
}

.b1 img {
	text-align: center;
        max-width: 90%;
}

.b1 p {
        text-align: center;
	padding: 0 20px 0 0;
}



/* 320px, centered, one columnn */

.b2 {
        width: 300px;
        margin: 0 auto;
        padding: 0px 10px 0px 10px;
}

.b2 img {
        max-width: 90%;
}

.b2 p {
        padding: 0 0 20px 0;
}



/* 320px, centered, one column */

.c1 {
	float: none;
        width: 300px;
	padding: 10px 10px 10px 10px;
        text-align: center;
}

.c1 h2 {
	margin: 0;
}

c1 img {
        max-width: 90%;
}

.c1 p.caption {
	padding: 0 0 20px 0;
        text-align: center;
}



/* 320px, centered, one column */

.c2 {
        width: 300px;
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
        text-align: center;
}

.c2 img {
        float: none;
        max-width: 90%;
}

/*.c2 p {
	padding: 0 0 20px 0;
}*/



/* 320px, centered, one column */

.d2 {
	margin: 0 auto;
        overflow: hidden;
        width: 300px;
	padding: 10px 10px 10px 10px;
}

/*.d2 img {
        max-width: 100%;
	margin: 0 auto;
}*/

/*.d2 p {
	padding: 0 0 20px 0;
}*/



/* 320px, centered, one column */

.e1 {
        overflow: hidden;
        width: 320px;
	margin: 0 auto;
	padding: 10px 0px 10px 0px;
}

/*.e1 img {
        max-width: 90%;
}*/

}
